<div>
     {{#each edit}}
    <form action="/ModGrupox/{{id_gru}}" method="POST">
        <p>Grupo: </p>
        <input type="text" maxlength="50" placeholder="Grupo" name="id_gru" id="id_gru" value="{{id_gru}}" required> 
        <p>Semestre: </p>
        <input type="number" maxlength="30" placeholder="Semestre" name="id_sem" value="{{id_sem}}" required> 
        <p>Turno: </p>
        <input type="number" maxlength="30" placeholder="Turno" name="id_tur" value="{{id_tur}}" required> 
        <p>Descripcion: </p>
        <input type="text" maxlength="50" placeholder="Descripcion" name="des_gru"  value="{{des_gru}}" required> 
        <select name="id_prof">
      {{#each docentes}}
      <option value="{{id_us}}">{{nom_us}} {{appat_us}} {{apmat_us}}</option>
      {{/each}}
    </select>
        {{/each}} 
        <button type="submit">Aceptar</button>
    </form>

</div>