<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.2.228/build/pdf.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto"> 
            {{#each rows}}
            <div class="my_pdf_viewer"> 
                <div class="description">
                    {{des_pra}}
                </div>
                <canvas id="pdf_canvas{{id_pra}}"></canvas>
                <div class="Notes" id="Notes"> 
                </div>
                    <div id="navigation_controls">
                    <button id="go_previous{{id_pra}}">Anterior</button>
                    <input id="current_page{{id_pra}}" value="1" type="number"/>
                    <button id="go_next{{id_pra}}">Siguiente</button>
                    </div>
                    
                <script>
                    var myState{{id_pra}} = {
                        pdf: null,
                        currentPage: 1,
                        zoom: 1.5
                    }
                    pdfjsLib.getDocument('files/practicas/{{arc_pra}}').then(doc =>{
                        myState{{id_pra}}.pdf = doc;
                        render(); 
                        document.getElementById('Notes').innerHTML="Número de páginas de la practica "+doc._pdfInfo.numPages; 
                        function render() {
                            doc.getPage(myState{{id_pra}}.currentPage).then(page =>{
                            let canvas=document.getElementById('pdf_canvas{{id_pra}}'); 
                            let context=canvas.getContext("2d"); 

                            let viewport =page.getViewport(myState{{id_pra}}.zoom); 
                            canvas.width=viewport.width;
                            canvas.height=viewport.height; 
                            page.render({
                                canvasContext: context,
                                viewport: viewport
                            }) 
                            }); 
 
                        }
                        document.getElementById('go_previous{{id_pra}}').addEventListener('click', (e) => {
                            if(myState{{id_pra}}.pdf == null
                            || myState{{id_pra}}.currentPage == 1) return;
                            if(myState{{id_pra}}.currentPage==1){
                                document.getElementById('go_previous{{id_pra}}').disbled=false; 
                            }else{
                                 document.getElementById('go_previous{{id_pra}}').disbled=true;
                            
                            myState{{id_pra}}.currentPage -= 1;
                            }
                            document.getElementById("current_page{{id_pra}}").value = myState{{id_pra}}.currentPage;
                             render();
                        });
                        document.getElementById('go_next{{id_pra}}').addEventListener('click', (e) => {
                            if(myState{{id_pra}}.pdf == null
                            || myState{{id_pra}}.currentPage > myState{{id_pra}}.pdf._pdfInfo.numPages) 
                            return;
                            if (myState{{id_pra}}.currentPage==doc._pdfInfo.numPages){
                                document.getElementById('go_next{{id_pra}}').disbled=false; 
                            }else{
                                document.getElementById('go_next{{id_pra}}').disbled=true;
                            
                            myState{{id_pra}}.currentPage += 1;
                            }
                            document.getElementById("current_page{{id_pra}}").value = myState{{id_pra}}.currentPage;
                            render();
                        });
                        document.getElementById('current_page{{id_pra}}').addEventListener('keypress', (e) => {
                            if(myState{{id_pra}}.pdf == null) return;
                            var code = (e.keyCode ? e.keyCode : e.which);
                            if(code == 13) {
                                var desiredPage = 
                                        document.getElementById('current_page{{id_pra}}').valueAsNumber;
                                                
                                if(desiredPage >= 1 
                                && desiredPage <= myState{{id_pra}}.pdf
                                                            ._pdfInfo.numPages) {
                                        myState{{id_pra}}.currentPage = desiredPage;
                                        document.getElementById("current_page{{id_pra}}").value = desiredPage;
                                        render();
                                }
                            }
                        });
                       

                    });//fin de todo lo del pdf
                                            
                         
                       
                </script>
                {{arc_pra}}
                
            <div> 
                <form class="edit-practica" name="editPractica" action="/editarPractica/{{id_pra}}" method="POST"> 
                <div class="editando">
                    <input type="submit" class="button" value="Editar" name="modprac">
                </div>
                
                </form>
                <form class="edit-practica" name="editPractica" action="/eliminarPractica/{{id_pra}}" method="POST"> 
                    <div class="borrando">
                         <input type="submit" class="button" value="Borrar" name="elprac">
                    </div>
                </form>
            {{else}}
            <div>
                No hay Practicas
            </div>
            {{/each}}
    </div>
        </div> 

</div>  