<h1>Bienvenido a el grupo</h1>
{{grupo}}
<br>
<h2>Actividades</h2>
<input class="buscar form-control" id="actividad" type="text" placeholder="Buscar">
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Actividad</th>
        </tr>
    </thead>
    {{#each actividades}}
    <tbody id="myActividad">
        <tr>
            <td>{{con_act}}</td>
            <td>
                <form action="/modActividad/{{id_act}}" method="post">
                    <button type="submit" class="btn btn-success">Modificar</button>
                </form>
            </td>
            <td>
                <form action="/delActividad/{{id_act}}" method="post">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {{else}}
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<script>
    $(document).ready(function () {
        $("#actividad").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myActividad tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>