<input class="buscar form-control" id="myInput" type="text" placeholder="Buscar">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Semestre</th>
      <th scope="col">Turno</th>
      <th scope="col">Descripci贸n</th>
      <th scope="col">C贸digo</th>
    </tr>
  </thead>
  {{#each rows}}
  <tbody id="myTable">
  <tr>
    <td>{{id_gru}}</td>
    <td>{{cla_sem}}</td>
    <td>{{cla_tur}}</td>
    <td>{{des_gru}}</td>
    <td>{{con_tok}}</td>
    <td>
     {{#if bol_tok}}
      <form action="/desactivar/{{id_gru}}" method="post">
        <button type="submit" class="btn btn-danger">desactivar</button>
      </form>
      {{else}}
      <form action="/desactivar/{{id_gru}}" method="post">
        <button type="submit" class="btn btn-success">Activar</button>
      </form>
      {{/if}} </td>
    <td>
      <form action="/AbrirGrupo/{{id_gru}}" method="post">
        <button type="submit" class="btn btn-info">Abrir</button>
      </form>
    </td>
    <td>
      <form action="/BorrarGrupo/{{id_gru}}" method="post">
        <button type="submit" class="btn btn-danger">Borrar</button>
      </form>
    </td>
    
    <td>
      <form action="/ModGrupo/{{id_gru}}" method="post">
        <button type="submit" class="btn btn-success">Modificar</button>
      </form>
    </td>
    </tr>
    {{else}}
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<hr>

<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<h2>Agrega un grupo</h2>
<form action="/AddGrupobb" method="POST">
  <div class="form-group">
    <label for="nombredeGrupo">Nombre del grupo</label>
    <input type="text" class="form-control" name="id_gru" placeholder="Grupo">
  </div>
  <div class="form-group">
    <label for="Semestre">Semestre</label>
    <select name="id_sem">
      <option value="1">Primer</option>
      <option value="2">Segundo</option>
      <option value="3">Tercer</option>
      <option value="4">Cuarto</option>
      <option value="5">Quinto</option>
      <option value="6">Sexto</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Turno">Turno</label>
    <select name="id_tur">
      <option value="1">Matutino</option>
      <option value="2">Vespertino</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Area">Descripci贸n del grupo</label>
    <textarea class="form-control" name="des_gru" rows="3" placeholder="Descripci贸n del grupo" required></textarea>
  </div>
  <button type="submit">Aceptar</button>
</form>
</div>
