<h1>Calificaciones de {{con_act}}</h1>

<input class="buscar form-control" id="actividad" type="text" placeholder="Buscar">
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Alumno</th>
            <th scope="col">Calificación</th>
        </tr>
    </thead>
    {{#each rows}}
    <tbody id="myActividad" <tr>
        <td>{{appat_us}} {{apmat_us}} {{nom_us}}</td>
        <td>{{cal_cpar}}</td>
        <td>
            <form action="/modCalificacion/{{id_cpar}}" method="post">
                <button type="submit" class="btn btn-success">Modificar</button>
            </form>
        </td>
        </tr>
        {{else}}
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<br>
<a href="/docente/grupo">Regresar</a><br>
<script>
    $(document).ready(function () {
        $("#actividad").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myActividad tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

