
<div class="row">
    <div class="content-wrapper-before gradient-45deg-deep-orange-orange"></div>
    <div class="col s12">
        <div class="container">
            <!-- invoice list -->
            <section class="invoice-list-wrapper section">
                <!-- create invoice button-->
                <!-- Options and filter dropdown button-->
                <!-- create invoice button-->
                <h3>Grupos</h3>
                <div class="responsive-table">
                    <div class="dataTables_wrapper no-footer">
                        <div class="top display-flex mb-2">
                            <div class="action-filters">
                                <div class="dataTables_filter">
                                    <label>
                                        <input type="search"
                                            placeholder="Buscar"
                                            id="busqueda_grupo"
                                            onkeyup="barraBusqueda('busqueda_grupo','tabla_grupos');">
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <td>Grupo</td>
                            <td>Clave de acceso</td>
                            <td>Número de alumnos</td>
                            <td colspan="2">Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tabla_grupos">
                        {{#each grupos}}
                        <tr>
                            <td>{{nom_gru}}</td>
                            <td contenteditable="true" id="clave{{id_gru}}">{{cla_gru}}</td>
                            <td>{{num_alu}}</td>
                            <td>
                                <a href="javascript:void(0);" onclick="modificarClaveGrupo({{id_gru}}, document.getElementById('clave{{id_gru}}').innerText);" class="waves-effect waves-teal btn-flat">Modificar clave</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" onclick="mostrarAlumnos({{id_gru}});" class="waves-effect waves-teal btn-flat">Ver alumnado</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table><br>
                <h4>Alumnos</h4>
                <div class="responsive-table">
                    <div class="dataTables_wrapper no-footer">
                        <div class="top display-flex mb-2">
                            <div class="action-filters">
                                <div class="dataTables_filter">
                                    <label>
                                        <input type="search"
                                            placeholder="Buscar"
                                            id="busqueda_alumno"
                                            onkeyup="barraBusqueda('busqueda_alumno','tabla_alumnos');">
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <td># Alumno</td>
                            <td>Nombre de alumno</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tabla_alumnos">
                        
                    </tbody>
                </table>
            </section>
            <!-- START RIGHT SIDEBAR NAV -->
            <aside id="right-sidebar-nav">
                <div id="slide-out-right" class="slide-out-right-sidenav sidenav
                    rightside-navigation right-aligned">
                    <div class="row">
                        <div class="slide-out-right-title">
                            <div class="col s12 border-bottom-1 pb-0 pt-1">
                                <div class="row">
                                    <div class="col s2 pr-0 center">
                                        <i class="material-icons
                                            vertical-text-middle"><a href="#"
                                                class="sidenav-close">clear</a></i>
                                    </div>
                                    <div class="col s10 pl-0">
                                        <ul class="tabs">
                                            <li class="tab col s4 p-0">
                                                <a href="#reportes"
                                                    class="active">
                                                    <span>Reportes</span>
                                                </a>
                                            </li>
                                            <li class="indicator" style="left:
                                                0px; right: 188px;"></li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-out-right-body row pl-3 ps
                            ps--active-y">
                            <div id="reportes" class="col s12 pb-0 active">
                                <div class="collection border-none mb-0">
                                    <ul class="collection right-sidebar-chat p-0
                                        mb-0">
                                        <a href="javascript:void(0);">
                                            <li class="collection-item
                                            right-sidebar-chat-item
                                            display-flex avatar
                                            pl-5 pb-0"
                                            data-target="slide-out-chat">
                                                <i class="material-icons">chrome_reader_mode</i>
                                            </span>
                                            <div class="user-content">
                                                <h6 class="line-height-0">Reporte 1IV2</h6>
                                            </div>
                                            <span class="secondary-content
                                                medium-small">29-02-20</span>
                                            </li>
                                        </a>
                                        <a href="javascript:void(0);">
                                        <li class="collection-item
                                            right-sidebar-chat-item
                                            sidenav-trigger display-flex avatar
                                            pl-5 pb-0"
                                            data-target="slide-out-chat">
                                                <i class="material-icons">chrome_reader_mode</i>
                                            </span>
                                            <div class="user-content">
                                                <h6 class="line-height-0">Reporte 1IV3</h6>
                                            </div>
                                            <span class="secondary-content
                                                medium-small">28-02-20</span>
                                        </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="ps__rail-x" style="left: 0px; bottom:
                                0px;"><div class="ps__thumb-x" tabindex="0"
                                    style="left: 0px; width: 0px;"></div></div><div
                                class="ps__rail-y" style="top: 0px; height:
                                624px; right: 0px;"><div class="ps__thumb-y"
                                    tabindex="0" style="top: 0px; height:
                                    308px;"></div></div></div>
                    </div>
                </div>

            </aside>
            <!-- END RIGHT SIDEBAR NAV -->
        </div>
        <div class="content-overlay"></div>
    </div>
</div>