<!--
<div clas="row">
    <div class="col s12">
        <div class="container">
            <div class="signup-box">
                <div id="quizz" class="quizz">
                    <h1>Agregar una pregunta</h1>
                    <form name="questions" id="questions" class="form"
                        method="POST" action="/Addquestion">
                        Ingresa la pregunta: <input type='text'
                            id='pregunta' name="pregunta">
                        iniciso a: <input type='text' id='a' name="a">
                        inciso b: <input type='text' id='b' name="b">
                        inciso c: <input type='text' id='c' name="c">
                        inciso d: <input type='text' id='d' name="d">
                        Ingresa el tema:
                        <div class="input-field col s12">
                            <select name="tema" id="tema">
                                <option value="" disabled selected>Escoge
                                    una opción</option>
                                {{#each temas}}
                                <option value={{id_tem}}>{{nom_tem}}</option>
                                {{/each}}
                            </select>
                            <label>Temas</label>
                        </div>
                        Ingresa la dificultad:
                        <div class="input-field col s12">
                            <select name="dificultad" id="dificultad">
                                <option value="" disabled selected>Escoge
                                    una opción</option>
                                <option value="1">Fácil</option>
                                <option value="2">Normal</option>
                                <option value="1">Díficil</option>
                            </select>
                            <label>Dificultad</label>
                        </div>
                        <div>
                            <button class="btn waves-effect waves-light"
                                type="submit" name="action">Agregar
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    <p id="avisos"></p>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<!-- Inicio chido -->
<link rel="stylesheet" href="mathquill/mathquill.css"/>
<link rel="stylesheet" type="text/css"
    href="app-assets/css/pages/app-file-manager.min.css">
<div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
        <div class="container">
            <div class="col s12 m6 l6">
      <div id="placeholder" class="card card card-default scrollspy">
        <div class="card-content">
          <h4 class="card-title">Insertar pregunta</h4>
          <form name="questions" id="questions"
                        method="POST" action="/Addquestion">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Pregunta" type='text'
                            id='pregunta' name="pregunta">
                
              </div>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn" id="btn_raiz">\sqrt{x}</a>
                            <a class="btn">+</a>
                            <a class="btn">+</a>
                            <a class="btn">+</a>
                        </div>
                    </li>
                </ul>
                
            </div>
            <div class="row">
              <div class="input-field col s10">
                <input placeholder="Opción A" type='text' id='a' name="a">
              </div>
              <div class="input-field col s2">
                  <a class="modal-trigger" href="#teclado_modal"><i class="medium material-icons">keyboard</i></a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <input placeholder="Opción B" type='text' id='b' name="b">
              </div>
              <div class="input-field col s2">
                  <a class="modal-trigger" href="#teclado_modal"><i class="medium material-icons">keyboard</i></a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <input placeholder="Opción C" type='text' id='c' name="c">
              </div>
              <div class="input-field col s2">
                  <a class="modal-trigger" href="#teclado_modal"><i class="medium material-icons">keyboard</i></a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <input placeholder="Opción D" type='text' id='d' name="d">
              </div>
              <div class="input-field col s2">
                  <a class="modal-trigger" href="#teclado_modal"><i class="medium material-icons">keyboard</i></a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select name="tema" id="tema">
                                <option value="" disabled selected>Selecciona tema</option>
                                {{#each temas}}
                                <option value={{id_tem}}>{{nom_tem}}</option>
                                {{/each}}
                            </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select name="dificultad" id="dificultad">
                                <option value="" disabled selected>Selecciona dificultad</option>
                                <option value="1">Fácil</option>
                                <option value="2">Normal</option>
                                <option value="3">Díficil</option>
                </select>
             
                         <button class="btn waves-effect waves-light indigo lighten-1"
                                type="submit" name="action">Agregar
                                <i class="material-icons right">send</i>
                            </button>
              </div>
              <div class="row">
                  <p id="avisos"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
        <div id="teclado_modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="col s12 m6 l6">
        <span id="math-field" class="width-90"></span>
        <span id="latex"></span><br><br>
        
    </div>
      <br><br><br>
      </div>
      <div class="col s12 m6 l6">
          <a class="btn waves-effect waves-light indigo lighten-1" href="javascript:void(0);">Aceptar</a>
      </div>
    </div>
  </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card card card-default scrollspy">
                    <img src="images_algebra/parallax9.png" width="100%"><br><br>
                    <img src="images_algebra/parallax10.jpg" width="100%">
                </div>
            </div>
            
    </div>
    </div>
    <div class="col s12">
        <div class="container">
            
            <div class="section app-file-manager-wrapper">
                <!-- File Manager app overlay -->
                <div class="app-file-overlay"></div>
                <!-- /File Manager app overlay -->
                <!-- sidebar left start -->
                <div class="sidebar-left">
                    <!--left sidebar of file manager start -->
                        <select>
                            <option>Todas las dificultades</option>
                            <option>Fácil</option>
                            <option>Normal</option>
                            <option>Díficil</option>
                        </select>
                        <select>
                            <option>Todos los temas</option>
                            {{#each temas}}
                                <option>{{nom_tem}}</option>
                            {{/each}}
                        </select>

                        <a class="btn waves-effect waves-light indigo lighten-1" href="javascript:void(0);">Buscar</a>
                        
                    <!--left sidebar of file manager start -->
                </div>
                <!--/ sidebar left end -->
                <!-- content-right start -->
                <div class="content-right">
                    <!-- file manager main content start -->
                    <div class="app-file-area">
                        <!-- File App Content Area -->
                        <!-- App File Header Starts -->
                        <div class="app-file-header">
                            <!-- Header search bar starts -->
                            <div class="sidebar-toggle show-on-medium-and-down
                                mr-1 ml-1">
                                <i class="material-icons">menu</i>
                            </div>
                            <div class="app-file-header-search">
                                <div class="input-field m-0">
                                    <i class="material-icons prefix">search</i>
                                    <input type="search" id="tema-search"
                                        placeholder="Buscar">
                                </div>
                            </div>
                            
                            <!-- Header search bar Ends -->

                        </div>
                        <!-- App File Header Ends -->

                        <!-- App File Content Starts -->
                        <div class="app-file-content ps">
                            <h6 class="font-weight-700 mb-3">Preguntas</h6>

                            <!-- App File - Recent Accessed Files Section Starts -->
                            <div class="row app-file-recent-access mb-3">
                                <div class="col xl3 l6 m3 s12">
                                    <div class="card box-shadow-none mb-1
                                        app-file-info">
                                        <div class="card-content">
                                            <div class="app-file-content-logo
                                                grey lighten-4">
                                                <div class="fonticon">
                                                    <i class="material-icons">more_vert</i>
                                                </div>
                                                <img class="recent-file"
                                                    src="app-assets/images/icon/question.png"
                                                    height="38" width="30"
                                                    alt="Card image cap">
                                            </div>
                                            <div
                                                class="app-file-recent-details">
                                                <div class="app-file-name
                                                    font-weight-700">Pregunta</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- App File - Recent Accessed Files Section Ends -->
                                <div class="ps__rail-x" style="left: 0px;
                                    bottom:
                                    0px;"><div class="ps__thumb-x" tabindex="0"
                                        style="left: 0px; width: 0px;"></div></div><div
                                    class="ps__rail-y" style="top: 0px; right:
                                    0px;"><div class="ps__thumb-y" tabindex="0"
                                        style="top: 0px; height: 0px;"></div></div></div>
                        </div>

                        <!-- file manager main content end  -->
                    </div>
                    <!-- content-right end -->
                    <!-- App File sidebar - Right section Starts -->
                    <div class="app-file-sidebar-info ps">
                        <div class="card box-shadow-none m-0 pb-1">
                            <div class="card-header display-flex
                                justify-content-between align-items-center">
                                <h6 class="m-0">Pregunta</h6>
                                <div class="app-file-action-icons display-flex
                                    align-items-center">
                                    <i class="material-icons mr-10">update</i>
                                    <i class="material-icons mr-10">delete</i>
                                    <i class="material-icons close-icon">close</i>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="details-tab active"
                                        id="details">
                                        <div class="display-flex
                                            align-items-center
                                            flex-column pb-2 pt-4">
                                            <img
                                                src="app-assets/images/icon/question.png"
                                                alt="PDF" height="42" width="35"
                                                class="mt-5 mb-5">
                                        </div>
                                        <div class="divider mt-5 mb-5"></div>
                                        <div class="pt-6">
                                            <span class="app-file-label">Info</span>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                                <p>Pregunta: </p>
                                                <p class="font-weight-700"> 2 - 1</p>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                                <p>Opciones</p>
                                                <p class="font-weight-700">Opciones</p>
                                                <a href="javascript:void(0);"><i
                                                        class="material-icons">update</i></a>
                                            </div></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps__rail-x" style="left: 0px; bottom:
                                0px;"><div
                                    class="ps__thumb-x" tabindex="0"
                                    style="left: 0px;
                                    width: 0px;"></div></div><div
                                class="ps__rail-y"
                                style="top: 0px; right: 0px;"><div
                                    class="ps__thumb-y"
                                    tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                        <!-- App File sidebar - Right section Ends -->
                        <br><br><br><br><br>
                    </div>
                    <!-- START RIGHT SIDEBAR NAV -->
                    <aside id="right-sidebar-nav">
                        <div id="slide-out-right" class="slide-out-right-sidenav
                            sidenav
                            rightside-navigation right-aligned">
                            <div class="row">
                                <div class="slide-out-right-title">
                                    <div class="col s12 border-bottom-1 pb-0
                                        pt-1">
                                        <div class="row">
                                            <div class="col s2 pr-0 center">
                                                <i class="material-icons
                                                    vertical-text-middle"><a
                                                        href="#"
                                                        class="sidenav-close">clear</a></i>
                                            </div>
                                            <div class="col s10 pl-0">
                                                <ul class="tabs">
                                                    <li class="tab col s4 p-0">
                                                        <a href="#reportes"
                                                            class="active">
                                                            <span>Reportes</span>
                                                        </a>
                                                    </li>
                                                    <li class="indicator"
                                                        style="left:
                                                        0px; right: 188px;"></li></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-out-right-body row pl-3 ps
                                    ps--active-y">
                                    <div id="reportes" class="col s12 pb-0
                                        active">
                                        <div class="collection border-none
                                            mb-0">
                                            <ul class="collection
                                                right-sidebar-chat p-0
                                                mb-0">
                                                <a href="javascript:void(0);">
                                                    <li class="collection-item
                                                        right-sidebar-chat-item
                                                        display-flex avatar
                                                        pl-5 pb-0"
                                                        data-target="slide-out-chat">
                                                        <i
                                                            class="material-icons">chrome_reader_mode</i>
                                                    </span>
                                                    <div class="user-content">
                                                        <h6
                                                            class="line-height-0">Reporte
                                                            1IV2</h6>
                                                    </div>
                                                    <span
                                                        class="secondary-content
                                                        medium-small">29-02-20</span>
                                                </li>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <li class="collection-item
                                                    right-sidebar-chat-item
                                                    sidenav-trigger display-flex
                                                    avatar
                                                    pl-5 pb-0"
                                                    data-target="slide-out-chat">
                                                    <i class="material-icons">chrome_reader_mode</i>
                                                </span>
                                                <div class="user-content">
                                                    <h6 class="line-height-0">Reporte
                                                        1IV3</h6>
                                                </div>
                                                <span class="secondary-content
                                                    medium-small">28-02-20</span>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>

                            <div class="ps__rail-x" style="left: 0px; bottom:
                                0px;"><div class="ps__thumb-x" tabindex="0"
                                    style="left: 0px; width: 0px;"></div></div><div
                                class="ps__rail-y" style="top: 0px; height:
                                624px; right: 0px;"><div class="ps__thumb-y"
                                    tabindex="0" style="top: 0px; height:
                                    308px;"></div></div></div>
                    </div>
                </div>

            </aside>
            <!-- END RIGHT SIDEBAR NAV -->
        </div>
        <div class="content-overlay"></div>
        
    </div>
</div></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>

<!-- Tecladito -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="mathquill/mathquill.js"></script>
<script>
var mathFieldSpan = document.getElementById('math-field');
var latexSpan = document.getElementById('latex');

var MQ = MathQuill.getInterface(2); // for backcompat
var mathField = MQ.MathField(mathFieldSpan, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpan.textContent = mathField.latex(); // simple API
    }
  }
});

var raiz = document.getElementById('btn_raiz');
MQ.StaticMath(raiz);
</script>
