
<div class="row">
    <div class="container">
        <div class="col s12" id="menu_nav_reportes" style="display: none;">
            <a class="btn indigo lighten-1 waves-effect"
                href="javascript:void(0);" onclick="cargaGraficas(); obtenerAlumnos(-1);
                document.getElementById('grupo_ver').value = -1;
                document.getElementById('alumno_ver').value = -1;
                document.getElementById('cuestionario_ver').value = -1;
                document.getElementById('tema_ver').value = -1">General</a>
            {{#each grupos}}
            <a class="btn indigo lighten-1 waves-effect"
                href="javascript:void(0);"
                onclick="cargarGraficasGrupo({{id_gru}},'{{nom_gru}}');
                obtenerAlumnos({{id_gru}}); 
                document.getElementById('grupo_ver').value = {{id_gru}};
                document.getElementById('alumno_ver').value = -1;
                document.getElementById('cuestionario_ver').value = -1;
                document.getElementById('tema_ver').value = -1">{{nom_gru}}</a>
            {{/each}}
        </div><br><br>
        <div class="col s6 red-text" id="menu_nav_reportes_cuestionario"
            style="display:
            none;">
            <select id="cuestionarioSeleccionado" class="red-text" 
            onchange="document.getElementById('cuestionario_ver').value = document.getElementById('cuestionarioSeleccionado').value">
                <option value= -1 class="red-text">Todos los cuestionarios</option>
                {{#each cuestionarios}}
                <option value="{{id_cue}}" class="red-text">{{nom_cue}}</option>
                {{/each}}
            </select>
            <input type="hidden" value= -1 id="grupo_ver">
            <input type="hidden" value= -1 id="cuestionario_ver">
            <input type="hidden" value= -1 id="tema_ver">
            <input type="hidden" value= -1 id="alumno_ver">
            <a class="btn indigo lighten-2 waves-effect" onclick="filtrarGraficas();"
                href="javascript:void(0);">Aceptar</a>
        </div>
        <div class="col s6 red-text" id="menu_nav_reportes_alumnos"
            style="display:
            none;">
            <select id="alumnosSeleccionados" 
            onchange="document.getElementById('alumno_ver').value = document.getElementById('alumnosSeleccionados').value">
            </select>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div id="btn_inicio" class="center" style="margin-top: 5%;
                        margin-bottom: 10%;">
                        <button onclick="cargaGraficas();" style="height: 20%;
                            font-size: 200%;" class="btn indigo lighten-1
                            waves-effect width-50 font-weight-900">
                            Ver gráficos
                        </button>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div id="grafica1"></div>
                        </div>
                        <div class="col s12">
                            <div id="grafica2"></div>
                        </div>
                        <div class="col s12">
                            <div id="grafica3"></div>
                        </div>
                        <div class="col s12">
                            <div id="grafica4"></div>
                        </div>
                        <div class="col s12">
                            <div id="grafica5"></div>
                        </div>
                        <div class="col s12">
                            <div id="grafica6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- GRAFICAS -->
<script src="/app-assets/js/custom/graficas.js"></script>
<!-- FIN GRAFICAS -->

<!--<script type="text/javascript" src="http://localhost:8000/gamma/generalGrades/"></script>
<button class="btn indigo lighten-1" onclick="testGraficas('graficasBonitas');">Testear</button>

<div id="graficasBonitas">

</div>-->